<ion-header>
  <ion-toolbar>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink = "/places/tabs/offers/new-offer">
        <ion-icon name = "add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col size = "12" size-sm = "8" offset-sm="2" text-center>
            <ion-list>
              <ion-item *ngFor  = " let offer of offers" [routerLink] = "['/' ,'places', 'tabs','offers','offer.id']"
              detail>
                <ion-thumbnail slot="start">
                    <ion-img [src] = "offer.imageUrl"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{offer.title}}</h2>
                  <p>{{offer.description}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
