<ion-header>
  <ion-toolbar>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size = "12" size-sm = "8" offset-sm="2" text-center>
        <ion-card>
        <ion-card-header>
          <ion-card-title>{{loadedPlaces[0].title}}</ion-card-title>
          <ion-card-subtitle>{{loadedPlaces[0].price | currency}} / Night</ion-card-subtitle>
        </ion-card-header>
        <ion-img [src]= "loadedPlaces[0].imageUrl"></ion-img>
        <ion-card-content>
          <p>{{loadedPlaces[0].description}}</p>
        </ion-card-content>
        <div text-right padding>
          <ion-button fill = "clear" 
          color = "primary" 
          [routerLink] = "['/',
          'places','tabs','discover',
          loadedPlaces[0].id]"> MORE
        </ion-button>
        </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size = "12" size-sm = "8" offset-sm="2" text-center>
        <ion-list>
          <ion-item *ngFor  = " let place of loadedPlaces.slice(1)" [routerLink] = "['/' ,'places', 'tabs','discover','place.id']"
          detail>
            <ion-thumbnail slot="start">
                <ion-img [src] = "place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{place.title}}</h2>
              <p>{{place.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
