<ion-header>
  <ion-toolbar>
    <ion-title>place-detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "'places'/'tabs'/'discover'">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-button color="primary" (click)="onBookPlace()">Book</ion-button>
</ion-content>
