<ion-header>
  <ion-toolbar>
    <ion-title>new-offer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "/places/tabs/offers"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  

</ion-content>
